/*! CONE resonsive addon by christopher Oneisz, https://github.com/chrischivlog | MIT License */

@media only screen and (max-width: 990px) {
    .cone-hide-mobile {
        display: none;
    }
}

@media only screen and (min-width: 990px) {
    .cone-hide-pc {
        display: none;
    }
}

@media only screen and (min-width: 560px) {
    .cone-hide-tablet {
        display: none;
    }
}